body
{
    font-family: Arial, Helvetica, sans-serif;
}

.outer-form{
    margin-top: 110px;
}

a{
    color:white;
}

.login-heading{
    text-align: center;
}

#form
{
    border: 3px solid #f1f1f1;
    width: 25%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #1F7A8C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover{
    background-color: #1c434b;
}
