<div class="main">
 <!--Navigation Bar-->
 <div class="content">
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">EPension</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/contactus">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        </div>
    </nav>
</div>

<router-outlet></router-outlet> 
</div>